@utf-8

.upperheader{
	line-height:20px !important;
	width:300px !important;
	height:22px !important; 
	padding-left:20px !important;
}

.fullsize{
	width:100%;
}

.outerDiv{
	padding: 10px;
}

.icon-span{
	float:left;
	margin-left:5px;
}
#caption div{
display: inline;
padding-left: 10px;
font-size: 14px !important;
font-weight: 800;
}


